@import "tailwindcss";

:root {
  --background: #000000; /* Pitch black */
  --foreground: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), 'Inter', Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: var(--foreground);
  color: var(--background);
}
